 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.login-btn {
   width: 50px;
   height: 30px;
   margin-top: 30px;
   text-align: center;
   border-radius: 5px;
   /* margin-left: 40px; */
} 
.container{
    background-color: rgb(50, 50, 119);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.login-form{
    margin: 0px;
    padding: 0px;
    display:flex;
    justify-content: space-evenly;

}
a{
    display: flex;
    color: wheat;
}
.p-nav{
   
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    /* text-align: center; */
}
input{
    margin: 10px;
}
/* .login-btn{
    width: 30px;
    height: 30px;
} */
.maindiv-1{
    width: 40%;
    margin-left: 10px;
}
.maindiv-2{
    float: right;
    position:relative;
    width: 35%;
    line-height: 20px;
    top: 10px;
    margin-top: -550px;
}
.input3{
    width: 90%;
    line-height: 25px;
}
.input4{
    width: 90%;
    line-height: 25px;
}
.input2{
    line-height: 25px;
    width: 41%;
}
.input1{
line-height: 25px;
    width: 43%;
}
.input5{
    line-height: 40px;
}
.singup-btn{
    background-color: green;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    
}

#docu{
    width: 100px;
    height: 100px;
}
.from{
    text-decoration: none;
    color: #000000;
    margin-top: 50px;
}
.para{
    margin-top: 40px;
    margin-left: 20px;
}